{% extends 'layout/base.html' %}
{% load static %}

{% block head %}
    <!-- Home page CSS -->
    <link rel="stylesheet" href='{%static "css/styles.css"%}'>
{% endblock head %}

{% block title %}Camera Helper{% endblock title %}

{% block body %}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Looking to buy a film camera?</h1>
            <p class="lead">We're here to help! Tell us more about what you're interested in by clicking below</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/start" role="button">Lets do it!</a>
            </p>
          </div>
        </div>
{% endblock body %}