{% extends 'layout/base.html' %}
{% load static %}

{% block head %}
    <!-- Home page CSS -->
    <link rel="stylesheet" href='{%static "css/home.css"%}'>
{% endblock head %}

{% block title %}Camera Helper{% endblock title %}

{% block body %}
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Looking to buy a film camera?</h1>
          <p class="lead">We're here to help! Tell us more about what you're interested in by clicking below</p>
          <p class="lead">
            <a href="/start" class="btn btn-lg btn-secondary">Let's do it!</a>
          </p>
        </main>
{% endblock body %}