{% extends 'layout/base.html' %}
{% load static %}

{% block head %}
    <!-- Home page CSS -->
    <link rel="stylesheet" href='{%static "css/home.css"%}'>
{% endblock head %}

{% block title %}Camera Helper{% endblock title %}

{% block body %}
        <div class="container position-relative text-center">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-9">  
                  <h2 class="mt-25 mb-25 display-4">Lets start with your interests</h2>
                </div> 
                <div class="col-md-11 col-lg-8 col-xl-7">   
                  <p class="mb-0 pb-30 fs-1 text-light-2 aos-init aos-animate" data-aos="fade-down" data-aos-delay="1500">What types of photos do you want to take (portraits, landscapes, pics of your friends, quick snapshots or maybe a little bit of everything)?.</p>
                </div> 
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="btn btn-light">
            </form>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
{% endblock body %}

TODO: format html with some kind of compononent to clean up how it looks