{% extends 'layout/base.html' %}
{% load static %}

{% block head %}
    <!-- Home page CSS -->
    <link rel="stylesheet" href='{%static "css/styles.css"%}'>
{% endblock head %}

{% block title %}Camera Helper{% endblock title %}

{% block body %}
        <div class="container px-4 px-lg-6">
            <div class="row gx-4 gx-lg-6 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{camera.image_link}}" alt="..." />
                </div>
                <div class="col-md-6">
                    <h1>Check out the {{camera.name}}</h1>
                    <div class="fs-5 mb-2">
                        <span>Average market price:</span>
                        <span>${{camera_data.average_price}}</span>
                        <div class="ebay-link">
                            <a href={{camera_data.link}}>Link to eBay here</a>
                        </div>
                    </div>
                    <p class="lead">{{camera.description}}</p>
                </div>
            </div>
        </div>
{% endblock body %}
