{% extends 'layout/base.html' %}
{% load static %}

{% block head %}
    <!-- Home page CSS -->
    <link rel="stylesheet" href='{%static "css/cameras.css"%}'>
{% endblock head %}

{% block title %}Camera Helper{% endblock title %}

{% block body %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{camera.image_link}}" alt="..." /></div>
                    <div class="col-md-6">
                        <h1 class="display-5 fw-bolder">Check out the {{camera.name}}</h1>
                        <div class="fs-5 mb-2">
                            <span class="text-decoration-line-through">Average market price:</span>
                            <span>${{camera_data.average_price}}</span>
                            <div>
                                <a style="color:#282A35" href={{camera_data.link}}>Link to eBay here</a>
                            </div>
                        </div>
                        <p class="lead">{{camera.description}}</p>
                        <div class="d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock body %}